.mini_title
  %h1
    Snake Challenge 2011 Final Contest will be on Dec 18th, 2011 at Shanghai 
  %p
    If you want to join our final contest, please <a href="mailto:mike@gurudigger.com">contact us</a>.

.challenge_info
  %h1 About Us
  %p
    PythonVSRuby (Or RubyVSPython) is an organization who concentrate on better technical commnucation between Pythoners and Rubyiests.
  %p
    Every year we will organize 3 events. 
    %br/
    On April - New Platform "Celebrating" Contest
    %br/
    On August - Hackathon to make a sprint of the platform.
    %br/
    On December - Final Contest to decide the name will be "RubyVSPython" or "PythonVSRuby" for next year.
    %br/
    %br/


  %h1 Upcoming Event
  %p
    RubyVsPython 2011 Final Contest - Snake Challenge Platform
    %br/
    Source Code - 
    =link_to "https://github.com/halida/snake-challenge", "https://github.com/halida/snake-challenge", target: "_blank"
    %br/
    Time: Dec 18th, 2011
    %br/
    Venue: TBA (City: Shanghai)
    %br/
    %br/
    If you want to join our final contest, please <a href="mailto:mike@gurudigger.com">contact us</a>.
    %br/
    If you want to join our brainstorming for the Snake Challenge platform, please click
    = succeed "." do
      %a{:href => "http://gurudigger.com/ideas/20888"} here
  %br/
