.mini_title
  %h1
    Snake Challenge 2011 Final Contest will be on Dec 18th, 2011 at Shanghai 
  %p
    If you want to join our final contest, please <a href="mailto:mike@gurudigger.com">contact us</a>.

.challenge_info
  %h1 About Us
  %p
    PythonVSRuby (Or RubyVSPython) is an organization who concentrate on better technical commnucation between Pythoners and Rubyiests.
  %p
    Every year we will organize 3 events. 
    %br/
    On April - New Platform "Celebrating" Contest
    %br/
    On August - Hackathon to make a sprint of the platform.
    %br/
    On December - Final Contest to decide the name will be "RubyVSPython" or "PythonVSRuby" for next year.
    %br/
    %br/


  %h1 Upcoming Event
  %p
    RubyVsPython 2011 Final Contest - Snake Challenge Platform
    %br/
    Wiki - 
    = link_to "https://github.com/halida/snake-challenge/wiki", "https://github.com/halida/snake-challenge/wiki", target: "_blank"
    %br/
    Source Code - 
    = link_to "https://github.com/halida/snake-challenge", "https://github.com/halida/snake-challenge", target: "_blank"
    %br/
    Time: Dec 18th, 2011
    %br/
    Venue: TBA (City: Shanghai)
    %br/
    %br/
    There will be 8 attendees (4 Rubyists and 4 Pythoners ) for the final contest.
    %br/
    %br/
    1st Round
    %br/
    The 8 attendees will be divided into 2 groups. Each group with 2 pythoners and 2 rubyiests. After this round, 2 attendees of each groups will be delegated. 
    %br/
    %br/
    2nd Round
    %br/
    The 4 attendees will take the 2nd round. The winner of this round will decide the name of our organization to be RubyVSPython or PythonVSRuby for the year of 2012.
    %br/
    %br/
    The Final Round - AI VS Human Being
    %br/
    We will pick up one of the audience who will control the creature manually to fight with the winner of the 2nd round. If the winner of the 2nd round win the game, he/she could get the prize of 2011 which worth 2000 RMB.

    %br/
    %br/
    If you want to join our final contest, please <a href="mailto:mike@gurudigger.com">contact us</a>.
    %br/
    If you want to join our brainstorming for the Snake Challenge platform, please click
    = succeed "." do
      %a{:href => "http://gurudigger.com/ideas/20888"} here
  %br/
