.mini_title
  %h1
    Snake Challenge @GuruDigger 2011 Final Race!
    %br/
    %br/
    2F, Building 16, Lane 30, North shanxi road, Shanghai, China
    = link_to "map here", "http://g.co/maps/dreuc", target: "_blank"
.challenge_info
  %p.info
    PythonVSRuby (Or RubyVSPython) is an organization who will concentrate on better technical commnucation between Pythoners and Rubyiests.
    %br/
    %br/
    Every year we will organize a contest to see which side has the smartest engineer. It will take place annually around the end of March or the beginning of April.
    %br/
    %br/
    For the sake of making ourselves keep innovating, we will incubate a project as the contest platform every year and will stay with the project for a year.
    %br/
    %br/
  %h1 Upcoming Event
  %p.info
    PythonVSRuby 2011 Episode III - Snake Challenge Final
    %br/
    Source Code -
    %a{:href => "https://github.com/halida/snake-challenge", :target => "_blank"} https://github.com/halida/snake-challenge
    %br/
    Time: Dec 18th
    %br/
    %br/
    If you want to join our brainstorming for this event, please click
    = succeed "." do
      %a{:href => "http://gurudigger.com/ideas/31474"} here
    %br/
    ( You need GuruDigger account to visit the brainstorming page, please contact
    %a{:href => "mailto:mike@gurudigger.com", :target => "_blank"} mike@GuruDigger.com
    for any GD account issues.)
    %br/
    previous event:
    = link_to "June 24th - June 26th Sprint of Snake Challenge @GuruDigger", "/home/index?event=1"
    %br/
  %br/
