<ul class="items">
</ul>

<div class="new">
  <input class="message" type="text">
  <input type="button" value="Send">
</div>


<%= content_for :javascripts do %>
  <%= javascript_include_tag "juggernaut", "chat" %>
<% end %>

<%= content_for :styles do %>
  <%= stylesheet_link_tag "chat" %>
<% end %>

