<div id="chat">
  <ul class="items">
  </ul>

  <div class="new">
    <textarea></textarea>
    <input type="button" value="Send">
  </div>

</div>

<%= javascript_include_tag "jquery" %>
<%= javascript_include_tag "juggernaut", "chat" %>
<%= stylesheet_link_tag "chat" %>
