#map_builder
  .data, #map_builder_data
    display: none
#map_builder .grid
  .box
    border: 1px solid #AAA
    height: 18px
    width: 18px
    display: inline-block
  .box:hover
    border: 1px solid red
  .box.wall
    background: #AAA
  
  