#user-control.right-block
  .title_bar REPLAY
  .right_body
    #record-panel
      %input{type: "submit", onclick: "javascript:toggle_replay()", value: "REPLAY", id: 'replay-button'}/ 
      %span#replay-count 0
      = "/"
      %span#record-count 0

  :javascript
    load_replay(#{@replay.id});

