#place
  #replays
    %h1 Listing Replays
    %ul
      - @replays.each do |replay|
        %li
          = "from #{replay.user.name}: " if replay.user
          = link_to replay.title, replay
    = paginate @replays
