#place
  #replays
    %h1 Listing Replays
    %ul
      - @replays.each do |replay|
        %li
          = link_to replay.title, replay
          = " by #{replay.user.name}" if replay.user
    = paginate @replays
