/* http://meyerweb.com/eric/tools/css/reset/
 v2.0 | 20110126
 License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    color:#0A667D;
    font-size:12px;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*html*/
body {
    background: #172137 url(/images/bg.gif);
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
}
/*header*/
#header {
    background: url(/images/header_bg.png) repeat-x center;
    height:156px;
    width:100%;
}
#logo {
    display: block;
    height: 116px;
    margin: 0 auto;
    padding-top:25px;
    width:413px ;
}
/*main*/
#main {
    background: url(/images/main_bg.png);
    padding-top:44px;
    width: 100%;
    text-align:left;
}
#user_bar { width:1104px; margin:0 auto 10px auto; text-align:center; }
#content {
    margin: 0 auto;
    width: 1104px;
}


/*left*/
h1{
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
    font-size: 13px;
    color:#37D8F9;
    padding-bottom:5px;
}

.info{     		
    -webkit-font-smoothing: antialiased;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
    font-size: 12px;
    color:#0a667d;
    line-height:1.5em;
}

#place {	
    margin: 0 auto;
    border-style:solid;
    border-width:2px;
    border-color: #0A3D5B;
    border-radius:5px;
    background: #040A19;
    height: 938px;
    width: 925px;
    opacity: 0.8;
}

#place .left_content{
    width:632px;
    float:left;
    margin:20px 30px 20px 30px;
    padding-bottom:10px;
}

#place .left_content a:link {color:#008ABF; text-decoration:none;}      /* unvisited link */
#place .left_content a:visited {color:#008ABF; text-decoration:none;}  /* visited link */
#place .left_content a:hover {color:#00B4F7; text-decoration:underline}  /* mouse over link */
#place .left_content a:active {color:#008ABF; text-decoration:none;}  /* selected link */

#place .mini_title{	    
    border-style: solid;
    border-bottom:thick solid #07243A;
    border-bottom-width: 1px;
    padding-bottom:10px;
} 	


#place .challenge_info{	    
    padding-top:10px;
    -webkit-font-smoothing: antialiased;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
    font-size: 12px;
    color:#0a667d;
    line-height:1.5em;
}

#place .title_bar_l {
    height:42px;
    border-style: solid;
    border-bottom:thick solid #07243A;
    border-bottom-width: 1px;
    width:692px;
}

#place .right_nav {
    width: 232px;
    float: right;
    border-style: solid;
    border-left: thick solid #07243A;
    border-left-width: 1px;
    height: 920px;
}

#place .right_nav .title_bar_r {
    height:42px;
    border-style: solid;
    border-bottom:thick solid #07243A;
    border-bottom-width: 1px;
    width:232px;
}

#place .title_bar_r h1 {
    margin:0px 0px 0px 12px;
	padding-top:14px;
}

#room_icon {
    height:238px;
    border-style: solid;
    border-bottom:thick solid #07243A;
    border-bottom-width: 1px;
}

#room_icon a {
    color: #008ABF;
    text-decoration: none;
}

#room_01, #room_03 {
    margin:33px 0px 0px 30px;
    float: left;
}

#room_02, #room_04 {
    margin:33px 0px 0px 20px;
    float: left;
}

#game_replay { border-bottom:thick solid #07243A; border-bottom-width: 1px; }
#game_replay ul { margin:10px; list-style:square inside; }
#game_replay ul li { line-height:140%; }
#game_replay ul li.more { text-align:right; list-style:none; }

#schedule, #schedule td {
    border: 1px solid;
    padding: 2px;
    text-align: center;
}

#sponsor_icon {
    height:220px;
    border-style: solid;
    border-bottom:thick solid #07243A;
    border-bottom-width: 1px;
}

#sponsor_icon .img, #sponsor{
    margin: 18px 0px 0px 25px;	
    float: left;    
}

#follow .img, #twitter{
    margin: 18px 0px 0px 25px;	
    float: left;    
}

/*right*/
#right {
    float: right;
}
#living_room {
    background: #fff;
    height:265px;
    margin-bottom:11px;
    width: 306px;
}
#ratting li {
    border-bottom: 1px solid #999;
    height:25px;
    padding:17px 0px 0px 10px;
}
#ratting img, #ratting h2 {
    float: left;
}
#ratting img {
    margin-right:10px;
}
#ratting h2 {
    color: #6b6969;
    font-weight: bold;
}
#ratting div {
    background: url(/images/skeleton.gif) no-repeat right;
    float: right;
    margin-right: 10px;
    padding-right: 20px;
}
#ratting div font {
    color: #333;
    font-weight: bold;
}
#ratting .grey {
    background: #e9e9e9;
}
#ratting .grey font {
    color: #848484;
}
#ratting .no_border {
    border: none;
}
#tips {
    background: #fff;
    height: 166px;
}
#tips .title_bar {
    margin-bottom: 10px;
}
.color {
    height: 14px;
    width:47px;
}
#pythons_team {
    border-right: 1px solid #d9e0e6;
    float:left;
    height: 34px;
    padding:0 20px;
    width:103px;
}
#pythons_team img {
    display: block;
    margin: 0 auto 10px auto;
}
#pythons_team .color_1 {
    background: #a5c9e7;
    float: left;
}
#pythons_team .color_2 {
    background: #88db99;
    float: right;
}
#rubys_team {
    float:left;
    height: 34px;
    padding:0 20px;
    width:103px;
}
#rubys_team img {
    display: block;
    margin: 0 auto 10px auto;
}
#rubys_team .color_1 {
    background: #eb88a9;
    float: left;
}
#rubys_team .color_2 {
    background: #f45e5e;
    float: right;
}
#team_food {
    border-bottom: 1px solid #d9e0e6;
    border-top: 1px solid #d9e0e6;
    height:24px;
    margin-top: 10px;
    padding:10px 0px 0px 20px;
}
#team_food img {
    padding-right:10px;
}
#team_category {
    padding:10px 0px 0px 20px;
}
#team_category img {
    padding-right: 10px;
}
#member_icon {
    margin: 10px auto 0px auto;
    width: 60px;
}
#member_icon img {
    padding-right: 10px;
    display: block;
    margin: 0 auto;
    width: 11px;
}

#user-control{
    background: #fff;
    margin-bottom:11px;
    width: 306px;
}


/*footer*/
#footer {
    background:url(/images/footer.png) no-repeat ;
    height:30px;
    margin:10px auto 0px auto;
    width:217px;
}

#flash_error {
    background: #FFF;
    color: red;
}

#flash_notice {
    background: #FFF;
}

ul#maps {
    color: #FFF;
}
/*clear*/
.clear {
    clear: both;
}

